{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-list">
            <h1>{{ company.name }}</h1>
            <p>{{ company.description }}</p>
            <h2>Projects</h2>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p>
            {% if company.projects.all|length != 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in company.projects.all %}
                            <tr>
                                <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                                <td>{{ project.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This company has no projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}